.btn {
  background-color: #237cd0;
  color: white;
} 

.separator {
  border-bottom: 2px;
}

img {
  max-width: 100%;
}

body {
  font-family: proxima-nova, "Open Sans", Arial;
  background: gray;
  color: #385e7f;
}

h1 {
  font-size: 10em;
  color: white;
}

h2 {
  font-size: 6em;
  color: #2a7fcd;
}

.navigation{
  background-color: #728aa4;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navigation > a {
  padding: 20px;
  color: white;
}

.splash {
  background-color: CornflowerBlue;
  background-image:url('../images/background.jpg');
  background-repeat:no-repeat;
  background-position:center top; 
}

#phone{
  background-color: white;
}

#passwords, #windows, #more {
  background-color: #fafcfe;
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}

#mac, #gnu-linux {
  background-color: white;
}

.spacer-2 {
  height: 2em;
}

.spacer-20 {
  height: 20em;
}

.vertical-separated {
  border-right: 1px solid #d1e1f1;
}

.vertical-separated:last-child {
  border: none;
}

.separator {
  border-bottom: 1px solid #d1e1f1;
}

.dashed-separator {
  border-bottom: 1px dashed #d1e1f1;
}

@media all and (max-width: 1000px) and (min-width: 750px) {
  .splash {
    background-position:center 50%; 
  }


  h1 {
    font-size: 6em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  .phone-description { 
    min-height: 120px;
  }
}

@media all and (max-width: 750px) {  
  .splash {
    background-position:center 90%; 
  }


  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .separator {
    border: none;
  }
  .thin-separator {
    border-bottom: 1px solid #d1e1f1;
  }

}
