.btn {
  background-color: #237cd0;
  color: white;
  font-size: 14px;
} 

.splash .btn {
  font-size: 18px;
}

.btn:hover, .app-store:hover {
  opacity: 0.6;
  color: #fff;
}

.btn-download {
  font-size: 9px;
  letter-spacing: 3px;
  margin-bottom: 6px;
}

a {
  font-weight: bold;
}

form {
  clear: both;
}

.form-control {
  font-size: 15px;
}

.btn-share {
  cursor: pointer;
  cursor: hand;
}

.disclaimer {
  margin: 18px 0 0;
  font-size: 13px;
}


.separator {
  border-bottom: 2px;
  margin-bottom: 10px;
}

.section-links {
  font-size: 25px;
}

img {
  max-width: 100%;
}

body {
  font-family: proxima-nova, "Open Sans", Arial;
  font-size: 20px;
  background: white;
  color: #385e7f;
}

h1 {
  font-size: 112px;
  color: white;
}

h2 {
  font-size: 78px;
  color: #2a7fcd;
}

h3 {
  color: #237dd0;
  font-size: 30px;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
ol > li:before {
    content:counter(li) " |"; /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    color:#c6d8db;
    font-weight: bold;
    text-align:center;
}
li ol, li ul {margin-top:6px;} 
ol ol li:last-child {margin-bottom:0;}

.navigation{
  background-color: #728aa4;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navigation > a {
  padding: 20px;
  color: white;
}

.splash {
  background-color: #d2e1f0;
  background-image:url('../images/background.jpg');
  background-repeat:no-repeat;
  background-position:center top; 
}

#sharing-links {
  bottom: 5%;
  left: 0px;
  position: fixed;
  z-index: 999;
}

#phone{
  background-color: white;
}

#more {
  padding-left: 20%;
  padding-right: 20%;
}

li {
  border-bottom: 1px dashed #d1e1f1;
}

#passwords, #windows, #more {
  background-color: #fafcfe;
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}

#mac, #gnu-linux {
  background-color: white;
}

.spacer-2 {
  height: 1em;
}

.spacer-20 {
  height: 14em;
}

.vertical-separated {
  border-right: 1px solid #d1e1f1;
}

.vertical-separated:last-child {
  border: none;
}

.separator, .carat-separator{
  border-bottom: 1px solid #d1e1f1;
}

.dashed-separator {
  border-bottom: 1px dashed #d1e1f1;
  margin-bottom: 10px;
}


@media all and (min-width: 768px) and (max-width: 991px)  {
  #id_email {
    width: 70%;
  }
  .splash { 
    background-position: center 95%;
  }
  .spacer-20 {
    height: 14em;
  }
  h1 {
    font-size: 78px;
  }
  h3 {
    font-size: 12px;
    font-weight: bold;
  }
  body {
    font-size: 16px;
  }
  .phone-description { 
    min-height: 130px;
  }
  .section-links {
    font-size: 11px;
  }
  .btn {
    font-size: 10px;
  }
  .btn-download {
    font-size: 6px;
  }
}

@media all and (max-width: 767px) {  
  .vertical-separated {
    border-right: none;
  }
  .spacer-20 {
    height: 15em;
  }
  .splash { 
    background-position: center -120px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1 {
    font-size: 42px;
    padding-top: 10px;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  .separator {
    border: none;
  }
  .thin-separator {
    border-bottom: 1px solid #d1e1f1;
  }

  body {
    font-size: 18px;
  }

  .section-links {
    font-size: 11px;
  }
  .btn {
    font-size: 10px;
  }
  .splash .btn {
    margin-top: 10px;
  }
  .btn-share {
    width: 100px;
  }
  .navigation {
    line-height: 1.9;
  }
}

@media all and (max-width: 992px) {
  #sharing-links {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .phone-description { 
    min-height: 145px;
  }
  .spacer-20 {
    height: 14em; 
  }
  h1 { 
    padding-top: 70px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px)  {  
  h3 {
    font-size: 25px;
  }
  .phone-description { 
    min-height: 127px;
    font-size: 18px;
  }
  .splash {
    font-size: 18px;
  }
}

@media all and (min-width: 1400px) {
  .splash {
    background-size: 100%;
  }
  .spacer-20 {
    height: 13em; 
  }
}

@media all and (max-width: 1199px) {
  .navigation > a {
    padding: 8px;
  }
}
