!!! 5
%head
  %title Reset The Net - Privacy Pack
  %link(rel="stylesheet" type="text/css" href="css/bootstrap-theme.css")
  %link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
  %script(src="js/jquery.js")
  %script(src="js/bootstrap.js")

  %script(type="text/javascript" src="//use.typekit.net/gdx0qlb.js")
  %script(type="text/javascript") try{Typekit.load();}catch(e){}
  %link(rel="stylesheet" type="text/css" href="css/custom.css")

%body.tk-proxima-nova
  .splash
    .container
      .row.text-center
        .spacer-2
        %img(src="images/reset-the-net-logo.png")
        %h1 Privacy Pack
        .spacer-20
        %br
        .col-sm-4.col-sm-offset-4
          Lorem ipsum dolor sit amet, consectateur adipiscing elit.
          Morbi et nulla egestas, luctus enim et, adipscing leo et iam.
        .col-sm-6.col-sm-offset-3
          .spacer-2
          %form.form-inline(role="form")
            .form-group
              %input.form-control(type="email" placeholder="Your email")
              %button.btn Submit
          .spacer-2

  .navigation.text-center
    %a(href="#phone")Your Phone
    | 
    %a(href="#passwords")Your Passwords
    | 
    %a(href="#mac")Mac
    | 
    %a(href="#windows")Windows
    |
    %a(href="#gnu-linux")GNU/Linux
  
  #phone
    .container
      .row
        %h2.text-center 
          Your Phone
        .col-sm-6.col-sm-offset-3
          %p.text-center
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .row
        .col-sm-offset-3.col-sm-2.text-center.vertical-separated

          %img(src="images/chat-secure-logo.png")
          %h3 ChatSecure
          .separator
          .phone-description ChatSecure gives you secure chat with Google and XMPP users.
          %br
          %a(href="https://play.google.com/store/apps/details?id=info.guardianproject.otr.app.im")
            %img(src="images/google-play.png")
          %p
          %a(href="https://itunes.apple.com/us/app/chatsecure-encrypted-secure/id464200063?mt=8")
            %img(src="images/app-store.png")
          .thin-separator
        .col-sm-2.text-center.vertical-separated
          %img(src="images/text-secure.png")
          %h3 TextSecure
          .separator
          .phone-description TextSecure is strong, easy-to-use protection for your text messages.
          %br
          %a(href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms")
            %img(src="images/google-play.png")
          %p
          %img(src="images/app-store-coming-soon.png")
          .thin-separator
        .col-sm-2.text-center.vertical-separated
          %img(src="images/red-phone.png")
          %h3 RedPhone
          .separator
          .phone-description Strong privacy for your phone calls, whenever you need it.
          %br
          %a(href="https://play.google.com/store/apps/details?id=org.thoughtcrime.redphone")
            %img(src="images/google-play.png")
          %p
          %img(src="images/app-store-coming-soon.png")
          .thin-separator
      .row
        .col-sm-2.col-sm-offset-5.text-center
          .spacer-2
          %a(href="#more-android") &#9660; More For Android
          | 
          %a(href="#more-iphone") &#9660; More For Iphone
          .spacer-2
          .thin-separator

  #passwords
    .container
      .row.text-center
        %h2 Your Passwords
        %p 
          Securing your passwords is key to protecting yourself online.
          It takes minutes; do it now!
      .row
        .col-sm-3.col-sm-offset-3.text-center.vertical-separated
          %img(src="images/strong-password.png")
          %h3 Unique Passwords
          .dashed-separator
          Do you use the same password everywhere?  Go change it now, starting with your email and Facebook.  Use LastPass, or write it down. 
          .thin-separator
        .col-sm-3.text-center
          %img(src="images/two-factor-auth.png")
          %h3 Double protection
          .dashed-separator
          Add a second layer of protection to your accounts on {Google}, {Facebook}, {Twitter}, {Yahoo}, {Dropbox}, and {other services} with 2-factor auth.
          .thin-separator
      .row.text-center
        .spacer-2
        %a(href="#") &#9660; More on Passwords 
        .spacer-2

  #mac.text-center
    .row
      %h2 Your Mac
      %p Securing your chats is easy. So is private, anonymous browsing. Try both. 
    .row
      .col-sm-3.col-sm-offset-3.vertical-separated
        %img(src="images/adium-logo.png")
        %h3 Adium
        .dashed-separator
        Encrypted chats for Facebook, Google, Duck Duck Go, and more.
        %br
        %button.btn DOWNLOAD ADIUM
        %br
        %a(href="#") Learn more!
        .thin-separator
      .col-sm-3
        %img(src="images/tor-logo.png")
        %h3 Tor
        .dashed-separator
        Tor prevents people from learning your location or browsing habits.
        %br
        %button.btn DOWNLOAD TOR
        %br
        %a(href="#") Learn more!
        .thin-separator
    .row
      .spacer-2
      %a(href="#more-mac") &#9660; More for Mac 
      .spacer-2
      .thin-separator

  #windows.text-center
    .row
      %h2 Windows 
      %p Secure chats is pretty easy on Windows. Private, anonymous browsing is easier. Try both. 
    .row
      .col-sm-3.col-sm-offset-3.vertical-separated
        %img(src="images/pidgin-logo.png")
        %h3 Pidgin
        .dashed-separator
        Encrypted chats for Facebook, Google, Duck Duck Go, and more.
        %br
        %button.btn DOWNLOAD PIDGIN 
        %br
        %a(href="#") Learn more!
        .thin-separator
      .col-sm-3
        %img(src="images/tor-logo.png")
        %h3 Tor
        .dashed-separator
        Tor prevents people from learning your location or browsing habits.
        %br
        %button.btn DOWNLOAD TOR
        %br
        %a(href="#") Learn more!
        .thin-separator
    .row
      .spacer-2
      %a(href="#more-windows-linux") &#9660; More for Windows 
      .spacer-2
      .thin-separator

  #gnu-linux.text-center
    .row
      %h2 GNU/Linux 
      %p
        GNU/Linux users probably have these tools already. 
        If not, install them with your package manager!
    .row
      .col-sm-3.col-sm-offset-3.vertical-separated
        %img(src="images/pidgin-logo.png")
        %h3 Pidgin
        .dashed-separator
        Encrypted chats for Facebook, Google, Duck Duck Go, and more.
        %br
        %button.btn DOWNLOAD PIDGIN 
        %br
        %a(href="#") Learn more!
        .thin-separator
      .col-sm-3
        %img(src="images/tor-logo.png")
        %h3 Tor
        .dashed-separator
        Tor prevents people from learning your location or browsing habits.
        %br
        %button.btn DOWNLOAD TOR
        %br
        %a(href="#") Learn more!
        .thin-separator
    .row
      .spacer-2
      %a(href="#more-windows-linux") &#9660; More for GNU/Linux 
      .spacer-2
  #more
    .row
      %h3.text-center#more-android More for Android
      .carat-separator
      %ol
        %li {Encrypt your phone} and choose a 10 digit PIN, to for very strong protection if your phone is lost, stolen, or seized.
        %li {Firefox} syncs your passwords securely, and lets you install privacy-protecting extensions like {Adblock Plus}, {Noscript}, and {HTTPS Everywhere}.
        %li {Orbot} and {Orweb} let you browse the web privately and anonymously with Tor.
        %li For savvy users, {K-9} and {APG} let you send encrypted emails.
    .row
      %h3.text-center#more-iphone More for Iphone
      .carat-separator
      %ol
        %li According to Apple’s {Legal Process Guidelines}, Facetime calls and iMessages are end-to-end encrypted. This is significant, but Textsecure and Redphone are more secure and trustworthy
        %li Use a PIN on your iPhone for better legal protection against searches, and some protection against thieves.
    .row
      %h3.text-center#more-mac More for Mac
      .carat-separator
      %ol
        %li Filevault is built-in, and protects you if your Mac is lost, stolen, or sized. {Turn on Filevault.}
        %li {GPG tools} lets you encrypt emails using Apple’s Mail.app
    .row
      %h3.text-center#more-windows-linux More for Windows and GNU/Linux
      .carat-separator
      %ol
        %li {Firefox} syncs your passwords securely, and lets you install privacy-protecting extensions like {Adblock Plus}, {Noscript}, and {HTTPS Everywhere}.
        %li For savvy users, {Thunderbird} and {Enigmail} let you encrypt your emails.
        %li GNU/Linux users, install all these tools from your favorite package manager.



